<!DOCTYPE html>
<html>
  <head>
  {% load render_table from django_tables2 %}
    <title>StudentMarks</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   STUDENTMARKS
  </head>
  <body> 
    <!-- This is a dynamic variable showing a string-->
    <p>{{name}}</p>
    <a href="{% 'url_index' %"> <button class="btn btn-outline-primary"> HOME </button></a>
    <br><br>


    {% block content %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="bg-danger">
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        </div>
        {% endif %}
        {% if message.tags == 'success' %}
        <div class="bg-success">
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        </div>
        {% endif %}
        {% if message.tags == 'info' %}
        <div class="bg-info">
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        </div>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  
    <h3>Student Names</h3>

    <a href="{% url 'add_students' %}">
      <button class="btn btn-outline-success"> ADD STUDENT </button>
    </a> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Course</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Reported On</th>
          <th scope="col">Update Record</th>
        </tr>
      </thead>
      <tbody>
      {% for student in paginator_module %}
        <tr>
          <th scope="row">{{student.id}}</th>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.course}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.phone_number}}</td>
          <td>{{student.reported_on}}</td>
          <td>
            <a href="{% url 'update_student' id=student.id %}">
              <button class="btn btn-success">Update</button>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if paginator_module.has_previous %}
          <a href="?page=1">&laquo;  first  </a>
          <a href="?page={{ paginator_module.previous_page_number}}">  previous  </a>
        {% endif %}
        <span class="current">
          page {{ paginator_module.number }} of {{ paginator_module.paginator.num_pages }}.
        </span>
        {% if paginator_module.has_next %}
          <a href="?page={{ paginator_module.next_page_number }}"> next </a>
          <a href="?page={{ paginator_module.paginator.num_pages}}"> last  &raquo;</a>
        {% endif %}
      </span>
    </div>
    <br><br>
    {% endblock %}
    </table>
  </body>
</html>