<!DOCTYPE html>
<html>
  <head>
  {% load render_table from django_tables2 %}
    <title>StudentMarks</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   STUDENTMARKS
  </head>
  <body>
    
    <!-- THis is our static variable in our html Template-->
    <p>Hello World</p>
    
    
    <!-- This is a dynamic variable showing a string-->
    <p>{{name}}</p>

    <p>{{calc}}</p>
    <h3>Student Names</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Course</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Reported On</th>
        </tr>
      </thead>
      <tbody>
      {% for student in paginator_module %}
        <tr>
          <th scope="row">{{student.id}}</th>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.course}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.phone_number}}</td>
          <td>{{student.reported_on}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if paginator_module.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ paginator_module.previous_page_number}}">previous</a>
        {% endif %}
        <span class="current">
          page{{ paginator_module.numnber }} of {{ paginator_module.paginator.num_pages }}.
        </span>
        {% if paginator_module.has_next %}
          <a href="?page={{ paginator_module.next_page_number }}">next</a>
          <a href="?page={{ paginator_module.paginator.num_pages}}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
    <br><br>
    <h3>Student Names rendered using Django Tables</h3>
    <table>
      {% render_table student_table %}
    </table>
  </body>
</html>